@font-face {
    font-family: 'SVN-Determination Sans';
    src: url('SVN-DeterminationSans.woff2') format('woff2'),
        url('SVN-DeterminationSans.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

